<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-button (click) = "home()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      <ion-title>SHOWS</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-searchbar animated placeholder="Artista" [(ngModel)]="vlr_digitado" (ionChange)="buscar($event)"></ion-searchbar>
  </div>

  <ion-item>
    <ion-label>Palco</ion-label>
    <ion-select [(ngModel)]="palco" (ionChange)="agruparDataDeShow()" placeholder="Selecione um...">
      <ion-select-option *ngFor="let palco of palcos" [value]="palco.palco_id">{{palco.palco_nome}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="vlr_digitado == ''">
    <div *ngFor="let data of data_show">
        <ion-card>

          <ion-card-header>
            <ion-card-title>{{ data | date:'EEEE, MMMM d, y'}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <div *ngFor="let json of cantores_consulta">
              <div *ngIf="json.cantor_data == data && json.palco_id == palco">
                <h1>{{json.cantor_nome}}</h1>
              </div>
            </div>

            <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
          </ion-card-content>

        </ion-card>
    </div>
  </div>

  <div *ngIf="vlr_digitado != ''">
    <div *ngFor="let json of cantores_consulta">
      <div *ngFor="let data of data_show">
        <div *ngIf="data == json.cantor_data && json.palco_id == palco">
          <ion-card>

            <ion-card-header>
              <ion-card-title>{{ data | date:'EEEE, MMMM d, y'}}</ion-card-title>
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            </ion-card-header>

            <ion-card-content>
              <h1>{{json.cantor_nome}}</h1>

              <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-content>

          </ion-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>