<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click) = "home()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SHOWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)] = "segment">
    <ion-segment-button value="1">
      <ion-label>Principal</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Segundário</ion-label>
    </ion-segment-button>
  </ion-segment>

<div>
  <ion-searchbar animated placeholder="Artista" [(ngModel)]="vlr_digitado" (ionChange)="buscar($event)"></ion-searchbar>
</div>

<div *ngIf="segment == 1">
  <div *ngIf="vlr_digitado == ''">
    <div *ngFor="let data of data1">
        <ion-card>

          <ion-card-header>
            <ion-card-title>{{ data | date:'dd/MM/yyyy'}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <div *ngFor="let json of cantores">
              <div *ngIf="json.cantor_data == data && json.cantor_palco == segment">
                <h1>{{json.cantor_nome}}</h1>
              </div>
            </div>

            <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
          </ion-card-content>

        </ion-card>
    </div>
  </div>

  <div *ngIf="vlr_digitado != ''">
    <div *ngFor="let json of cantores">
      <div *ngFor="let data of data1">
        <div *ngIf="data == json.cantor_data && json.cantor_palco == segment">
          <ion-card>

            <ion-card-header>
              <ion-card-title>{{ data | date:'dd/MM/yyyy'}}</ion-card-title>
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            </ion-card-header>

            <ion-card-content>
              <h1>{{json.cantor_nome}}</h1>

              <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-content>

          </ion-card>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- ARTISTAS DO SEGUNDO PALCO-->
<div *ngIf="segment == 2">
  <div *ngIf="vlr_digitado == ''">
    <div *ngFor="let data of data2">
        <ion-card>

          <ion-card-header>
            <ion-card-title>{{ data | date:'dd/MM/yyyy'}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <div *ngFor="let json of cantores">
              <div *ngIf="json.cantor_data == data && json.cantor_palco == segment">
                <h1>{{json.cantor_nome}}</h1>
              </div>
            </div>

            <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
          </ion-card-content>

        </ion-card>
    </div>
  </div>

  <div *ngIf="vlr_digitado != ''">
    <div *ngFor="let json of cantores">
      <div *ngFor="let data of data2">
        <div *ngIf="data == json.cantor_data && json.cantor_palco == segment">
          <ion-card>

            <ion-card-header>
              <ion-card-title>{{ data | date:'dd/MM/yyyy'}}</ion-card-title>
              <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            </ion-card-header>

            <ion-card-content>
              <h1>{{json.cantor_nome}}</h1>

              <br>

              <ion-button expand="block" (click)="detalhado(data)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-card-content>

          </ion-card>
        </div>
      </div>
    </div>
  </div>
</div>

</ion-content>