ion-button{
    --color: #3E3E3E;
}
.title-bar {
    margin: 0rem 0.625rem -0.625rem 0.625rem;
    color: #3E3E3E;
}

h1.title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 2.25rem;
}

ion-item ion-label {
    color: #3E3E3E;
    font-size: 0.8rem;
}

div.opcao{
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
}

h2.sub-title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 1.125rem;
}

h5.ion-text-center{
    color: #3E3E3E;
    font-size: 0.75rem;
    margin: 0.625rem 1.25rem 0.625rem 0.625rem
}

ion-item{
    margin: 0.625rem 1.25rem 0.625rem 1.25rem;
    --border-color: #FFFFFF;//--border-color: #c9c9c9;
}

.btn_enviar{
    margin: 0.625rem 1.25rem 0.625rem 1.25rem
}

ion-card{
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    font-size: 0.75rem;
}







h5.título {
    font-weight: bold;
    color:black
}

h5.texto {
    color:black
}

h5.data{
   font-size: small;
   font-style: italic;
   position: relative;
   top: 10px;
}
