<ion-content>

  <div class="title-bar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="home()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button href="{{insta}}">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <h1 class="title">
    Informação
  </h1>

  <div class="opcao">
    <ion-segment mode="ios" [(ngModel)]="segment">
      <ion-segment-button value="0">
        <ion-label>SUPORTE</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>SOBRE</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>NOTIFICAÇÃO</ion-label>
      </ion-segment-button>
    </ion-segment>
    
  </div>

    <div *ngIf="segment == 0">
      <ion-card>
        <ion-item>
          <ion-label color="primary" position="floating">Nome e sobrenome*</ion-label>
          <ion-input placeholder="Maria Santos" [(ngModel)] = "nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Telefone para contato(WhatsApp)*</ion-label>
          <ion-input placeholder="83900000000" type="number" [(ngModel)] = "contato"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">Assunto*</ion-label>
          <ion-textarea  maxlength="255" placeholder="Como faço para divulgar couverts do meu estabelecimento ?" [(ngModel)] = "desc"></ion-textarea>
        </ion-item>

        <ion-button class="btn_enviar" expand="block" color="primary" (click)="validarCadastro()" [disabled]="nome == '' || contato == '' || desc == ''">
          ENVIAR
        </ion-button>
      </ion-card>  
      <h5 class="ion-text-center">Todas informações inseridas sobre o <strong>couvert</strong> são fornecidas diretamente pelo respectivo estabelecimento. Em caso de divergência com o aplicativo <strong>Campina Music</strong> entrar em contato conosco.</h5>
    </div>


    <div *ngIf="segment == 1">
      <ion-card>
        <ion-item>
          <ion-label><strong>Desenvolvido por:</strong> Campina Music</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>E-mail:</strong> campinamusic@gmail.com</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><strong>Versão do Aplicativo:</strong> 1.0</ion-label>
        </ion-item>
      </ion-card>
    </div>

    <div *ngIf="segment == 2">
      <ion-card>
        <ion-card-content>
          <h5 class="título">EVENTO CANCELADO</h5>
          <h5 class="texto">São João de 2020 cancelado.</h5>
          <h5 class="data">Data de notificação 17/10/2020</h5>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <h5 class="título">FESTAS</h5>
          <h5 class="texto">Confira a programação desse final de semana!</h5>
          <h5 class="data">Data de notificação 15/10/2020</h5>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
