ion-button{
    --color: #3E3E3E;
}
.title-bar {
    margin: 0rem 0.625rem -0.625rem 0.625rem;
    color: #3E3E3E;
}

h1.title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 2.25rem;
}

h2.sub-title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 1.125rem;
}

.item ion-thumbnail {
    margin: 0.625rem 1.25rem 0.625rem 0rem;
    margin-inline-end: 0.625rem;
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
        border-radius: 20%;
    }
}

ion-item ion-label {
    margin: 0.625rem 0.625rem 0.625rem 0rem;
    color: #3E3E3E;
    font-size: 1.125rem;
}

ion-item{
    --border-color: #FFFFFF;//--border-color: #c9c9c9;
}

//

div.barra_consulta{
    margin: 0.625rem 0.625rem -0.625rem 0.625rem;
}

div.opcao{
    margin: 0.625rem 1.25rem 0.625rem 1.25rem;
}

ion-card{
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    font-size: 0.75rem;
}

h3.palco_nome {
    color: #3E3E3E;
    font-size: 1.125rem;
}

ion-card.ion-card-palco{
    max-width: 37.5rem;
    margin: 0.625rem 1.25rem 1.25rem;
}