.item ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
        border-radius: 20%;
    }
}

h1.title {
    margin: 10px 10px 10px 20px;
    color: #3E3E3E;
    font-size: 20px;
}

ion-item ion-label {
    margin: 10px 10px 10px 0px;
    color: #3E3E3E;
    font-size: 16px;
}

ion-item{
    --border-color: #c9c9c9;
}