<ion-content>

  <div class="title-bar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="home()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="end">
        <div *ngIf="maps != null">
          <ion-button href="{{maps}}">
            <ion-icon name="pin-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <h1 class="title">
    Show
  </h1>

  <ion-card class="ion-card-palco">
    <div *ngFor="let array_palco of palco_dados">
      <img class="img_palco" src="{{array_palco.palco_img}}">
      
      <ion-card-content>
        <ion-card-subtitle>{{array_palco.palco_cidade}}</ion-card-subtitle>
        <ion-card-title><h3 class="palco_nome"><strong>{{array_palco.palco_nome}}</strong></h3></ion-card-title>
      </ion-card-content>
    </div>
  </ion-card>

  <div class="opcao">
    <ion-segment mode="ios" [(ngModel)]="segment">
      <ion-segment-button value="0">
        <ion-label>DISPONÍVEIS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>ENCERRADOS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="barra_consulta">
    <ion-searchbar animated placeholder="Artista" [(ngModel)]="vlr_digitado" (ionChange)="buscar($event)" [disabled] = "img_carregada == 0"></ion-searchbar>
  </div>

  <!--SHOWS DISPONÍVEIS-->
  <div *ngIf="segment == 0">
    <div *ngIf="vlr_digitado == ''">
      <div *ngFor="let array_data of data_show">
        <div *ngIf="array_data >= data_atual">
          <ion-card>
            <div *ngIf="array_data == data_atual">
              <h2 class="sub-title"><strong>HOJE</strong></h2>
            </div>
            <div *ngIf="array_data != data_atual">
              <h2 class="sub-title"><strong>{{array_data | date:'EEEE, d MMMM' | uppercase}}</strong></h2>
            </div>
            <div *ngFor="let array_cantores of cantores_consulta">
              <div *ngIf="array_data == array_cantores.evento_data">
                <ion-item lines="none">

                  <div *ngFor="let array_img of img_cantores">
                    <ion-thumbnail slot="start" *ngIf="array_img.cantor_id == array_cantores.cantor_id">
                      <img *ngIf="array_img.cantor_img != null" src="{{array_img.cantor_img}}">
                      <img *ngIf="array_img.cantor_img == null" src="../../../../assets/img/undefined.jpg">
                    </ion-thumbnail>
                  </div>  
                  <div *ngIf="img_carregada == 0">
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                  </div>

                  <ion-label><strong>{{array_cantores.cantor_nome}}</strong></ion-label>

                </ion-item>
              </div>
            </div>
            <br>
          </ion-card>
        </div>  
      </div>
    </div>
  
    <div *ngIf="vlr_digitado != ''">
      <div *ngFor="let array_data of data_show">
        <div *ngIf="array_data >= data_atual">
          <ion-card>
            <div *ngIf="array_data == data_atual">
              <h2 class="sub-title"><strong>HOJE</strong></h2>
            </div>
            <div *ngIf="array_data != data_atual">
              <h2 class="sub-title"><strong>{{array_data | date:'EEEE, d MMMM' | uppercase}}</strong></h2>
            </div>
            <div *ngFor="let array_cantores of cantores_consulta">
              <div *ngIf="array_data == array_cantores.evento_data">
                <ion-item lines="none">

                  <div *ngFor="let array_img of img_cantores">
                    <ion-thumbnail slot="start" *ngIf="array_img.cantor_id == array_cantores.cantor_id">
                      <img *ngIf="array_img.cantor_img != null" src="{{array_img.cantor_img}}">
                      <img *ngIf="array_img.cantor_img == null" src="../../../../assets/img/undefined.jpg">
                    </ion-thumbnail>

                    <div *ngIf="img_carregada == 0">
                      <ion-thumbnail slot="start">
                        <ion-skeleton-text animated></ion-skeleton-text>
                      </ion-thumbnail>
                    </div>
                  </div>  

                  <ion-label><strong>{{array_cantores.cantor_nome}}</strong></ion-label>

                </ion-item>
              </div>
            </div>
            <br>
          </ion-card>
        </div>  
      </div>
    </div>
  </div>

  <!-- SHOWS ENCERRADOS -->
  <div *ngIf="segment == 1">
    <div *ngIf="vlr_digitado == ''">
      <div *ngFor="let array_data of data_show">
        <div *ngIf="array_data < data_atual">
          <ion-card>
            <h2 class="sub-title"><strong>{{array_data | date:'EEEE, d MMMM' | uppercase}}</strong></h2>
            <div *ngFor="let array_cantores of cantores_consulta">
              <div *ngIf="array_data == array_cantores.evento_data">
                <ion-item lines="none">

                  <div *ngFor="let array_img of img_cantores">
                    <ion-thumbnail slot="start" *ngIf="array_img.cantor_id == array_cantores.cantor_id">
                      <img *ngIf="array_img.cantor_img != null" src="{{array_img.cantor_img}}">
                      <img *ngIf="array_img.cantor_img == null" src="../../../../assets/img/undefined.jpg">
                    </ion-thumbnail>
                  </div>  
                  <div *ngIf="img_carregada == 0">
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                  </div>

                  <ion-label><strong>{{array_cantores.cantor_nome}}</strong></ion-label>

                </ion-item>
              </div>
            </div>
            <br>
          </ion-card>
        </div>  
      </div>
    </div>
  
    <div *ngIf="vlr_digitado != ''">
      <div *ngFor="let array_data of data_show">
        <div *ngIf="array_data < data_atual">
          <ion-card>
            <div *ngIf="array_data == data_atual">
              <h2 class="sub-title"><strong>HOJE</strong></h2>
            </div>
            <div *ngIf="array_data != data_atual">
              <h2 class="sub-title"><strong>{{array_data | date:'EEEE, d MMMM' | uppercase}}</strong></h2>
            </div>
            <div *ngFor="let array_cantores of cantores_consulta">
              <div *ngIf="array_data == array_cantores.evento_data">
                <ion-item lines="none">
                  
                  <div *ngFor="let array_img of img_cantores">
                    <ion-thumbnail slot="start" *ngIf="array_img.cantor_id == array_cantores.cantor_id">
                      <img *ngIf="array_img.cantor_img != null" src="{{array_img.cantor_img}}">
                      <img *ngIf="array_img.cantor_img == null" src="../../../../assets/img/undefined.jpg">
                    </ion-thumbnail>
                  </div>  

                  <div *ngIf="img_carregada == 0">
                    <ion-thumbnail slot="start">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-thumbnail>
                  </div>
                  <ion-label><strong>{{array_cantores.cantor_nome}}</strong></ion-label>

                </ion-item>
              </div>
            </div>
            <br>
          </ion-card>
        </div>  
      </div>
    </div>
  </div>
</ion-content>
