<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click) = "agenda()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>ARTISTAS DO DIA</ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-text class="ion-text-center">
    <h1>{{data | date:'EEEE, d MMMM, y' | uppercase}}</h1>
  </ion-text>


  <div *ngFor="let json of resultado">

      <ion-card color="light">
        <div *ngIf="json.cantor_img == null || json.cantor_url_img == null">
          <ion-img src="../../../assets/img/undefined.jpg"></ion-img>
        </div>
        <div *ngIf="json.cantor_img != null && json.cantor_url_img != null">
          <ion-img src="{{json.cantor_img}}"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-subtitle>Endereço: {{json.cantor_url_img}}</ion-card-subtitle>
          <ion-card-title>
            <h2>{{json.cantor_nome}}<br>
              {{json.palco_nome}}
            </h2>
          </ion-card-title>
        </ion-card-header>
         <ion-card-content></ion-card-content>
      </ion-card>

  </div>

</ion-content>
