:host ::ng-deep ion-content{
    --background: #F5F3F4 no-repeat center center / cover;
}

:host ::ng-deep ion-toolbar{
  --background: #F5F3F4 no-repeat center center / cover;
  --color: #3E3E3E;
  --border-color: #F5F3F4;
  //margin-top: 30px; //retirar margem de pixel ao copilar para android
}

:host ::ng-deep ion-item{
  --background: #FFFFFF;
}

:host ::ng-deep ion-card{
  background: #FFFFFF;
}

:host ::ng-deep ion-searchbar{
  color: #000000;
  --background: #E4E2E3;
}

:host ::ng-deep ion-segment ion-segment-button{
  color: #000000;
  --color-checked: #000000;
  --indicator-color:#FFFFFF;
  --background: #E4E2E3;
}