ion-button{
    --color: #3E3E3E;
  }
.title-bar {
  margin: 0rem 0.625rem -0.625rem 0.625rem;
  color: #3E3E3E;
}
  
h1.title {
  margin: 0.625rem 0.625rem 0.625rem 1.25rem;
  color: #3E3E3E;
  font-size: 2.25rem;
}
  
h2.sub-title {
  //margin: 0.625rem 0.625rem -0.313rem 1.25rem;
  color: #3E3E3E;
  font-size: 1.125rem;
}
  
h3.sub-title {
  margin: 0.625rem 0.625rem -0.313rem 1.25rem;
  color: #3E3E3E;
  font-size: 1.125rem;
}

ion-button{
  --color: #3E3E3E;
}
.title-bar {
    margin: 0rem 0.625rem -0.625rem 0.625rem;
    color: #3E3E3E;
}

h1.title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 2.25rem;
}

.item ion-thumbnail {
    margin: 0.625rem 1.25rem 0.625rem 0rem;
    margin-inline-end: 0.625rem;
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
        border-radius: 20%;
    }
}

ion-skeleton-text{ //imagem em quanto carrega
    border-radius: 20%;   
}

ion-item ion-label {
    margin: 0.625rem 0.625rem 0.625rem 0rem;
    color: #3E3E3E;
    font-size: 1.125rem;
}

ion-card{
    margin: 1.25rem 1.25rem 1.25rem 1.25rem;
    font-size: 0.75rem;
}

ion-icon.star_on{
  color: #ffd900;
}

img.favorito_msg{
  max-width: 70%;
  border: 0;
  position: relative;
  top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
