<ion-content>

  <div class="title-bar">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="couvertRota()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <div *ngIf="whats != null">
          <ion-button href="{{whats}}">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
      <ion-buttons slot="end">
        <div *ngIf="maps != null">
          <ion-button href="{{maps}}">
            <ion-icon name="pin-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <h1 class="title">
    Couvert
  </h1>

  <ion-card mode="ios" class="ion-card-estabe">
    <div *ngFor="let array_estabe of estabe_dados">
      <img class="img_estabe" src="{{array_estabe.estabe_img}}">

      <ion-card-header>
        <ion-card-subtitle>
          <!-- <ion-icon name="home-outline"></ion-icon> {{array_estabe.estabe_nome}}<br> -->
          <ion-icon name="pin-outline"></ion-icon>{{array_estabe.estabe_logradouro}}, {{array_estabe.estabe_numero}}, {{array_estabe.estabe_bairro}}, {{array_estabe.estabe_cidade}}-{{array_estabe.estabe_estado}}<br>
          <div *ngIf="array_estabe.estabe_tel != null">
            <ion-icon name="call-outline"></ion-icon> {{array_estabe.estabe_tel}}<br>
          </div>
          <div *ngIf="array_estabe.estabe_cel != null">
            <ion-icon name="logo-whatsapp"></ion-icon> {{array_estabe.estabe_cel}}<br>
          </div>
          <!--
          <div *ngIf="array_estabe.estabe_insta != null">
            <ion-icon name="logo-instagram"></ion-icon> {{array_estabe.estabe_insta}}<br>
          </div>-->
        </ion-card-subtitle>
      </ion-card-header>  
    </div>
  </ion-card>

  <div *ngFor="let array_data of data_couvert">
    <ion-card mode="ios">
      <div *ngIf="array_data == data_atual">
        <ion-item lines="none">
          <h2 class="sub-title"><strong>HOJE</strong></h2>
          <ion-buttons slot="end" class="share_button">
            <ion-button class="share_button" (click)="compartilhar(array_data)">
              <ion-icon name="share-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        
      </div>
      <div *ngIf="array_data != data_atual">
        <ion-item lines="none">
          <h2 class="sub-title"><strong>{{array_data | date:'EEEE, d MMMM' | uppercase}}</strong></h2>
          <ion-buttons slot="end" class="share_button">
            <ion-button class="share_button" (click)="compartilhar(array_data)">
              <ion-icon name="share-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>
      <div *ngFor="let array_couvert of couvert_consulta">

        <div *ngIf="array_data == array_couvert.couvert_data">

          <ion-item lines="none">
            <div *ngFor="let array_img of img_cantores">
              <ion-thumbnail slot="start" *ngIf="array_img.cantor_id == array_couvert.cantor_id">
                <img *ngIf="array_img.cantor_img != null" src="{{array_img.cantor_img}}">
                <img *ngIf="array_img.cantor_img == null" src="../../../../assets/img/undefined.jpg">
              </ion-thumbnail>
            </div>  
            <div *ngIf="img_carregada == 0">
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
            </div>

            <ion-label>
              <strong>{{array_couvert.cantor_nome}}<br></strong>

              <div *ngIf="array_couvert.couvert_hora_ini != null">
                <strong>Inícia ás: </strong>{{array_couvert.couvert_hora_ini}}<br>
              </div>
              <div *ngIf="array_couvert.couvert_hora_fin != null">
                <strong>Encerrasse ás: </strong>{{array_couvert.couvert_hora_fin}}<br>
              </div>
              <div *ngIf="array_couvert.couvert_valor != null">
                <strong>Valor: </strong>R$ {{array_couvert.couvert_valor | number:'1.2-2'}}<br>
              </div>
            </ion-label>  
          </ion-item>
      </div>
    </div>
    <br>  
    </ion-card>
  </div>

</ion-content>
