ion-button{
    --color: #3E3E3E;
}
.title-bar {
    margin: 0px 10px -10px 10px;
    color: #3E3E3E;
}

h1.title {
margin: 10px 10px 10px 20px;
color: #3E3E3E;
font-size: 36px;
}

h2.sub-title {
    margin: 10px 10px 10px 20px;
    color: #3E3E3E;
    font-size: 18px;
}

.item ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
        border-radius: 20%;
    }
}

ion-item ion-label {
    margin: 10px 10px 10px 0px;
    color: #3E3E3E;
    font-size: 18px;
}

ion-item{
    --border-color: #FFFFFF;//--border-color: #c9c9c9;
}

//

div.barra_consulta{
    margin: -10px 10px 0px 10px;
}

div.opcao{
    margin: 10px 20px 10px 20px;
}

ion-card{
    margin: 20px 20px 20px 20px;
  }

ion-card-subtitle{
color: #3E3E3E;
font-size: 12px;
}