<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="couvert">
      <ion-icon src="../../../assets/img/concert.svg"></ion-icon>
      <ion-label>Couvert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="show">
      <ion-icon src="../../../assets/img/palco.svg"></ion-icon>
      <ion-label>Show</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="divulgacao">
      <ion-icon src="../../../assets/img/alto-falante.svg"></ion-icon>
      <ion-label>Divulgação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notificacao">
      <ion-icon src="../../../assets/img/sino.svg"></ion-icon>
      <ion-label>Notificação</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>