ion-button{
    --color: #3E3E3E;
  }
  .title-bar {
    margin: 0rem 0.625rem -0.625rem 0.625rem;
    color: #3E3E3E;
  }
  
  h1.title {
    margin: 0.625rem 0.625rem 0.625rem 1.25rem;
    color: #3E3E3E;
    font-size: 2.25rem;
  }
  
  h2.sub-title {
    margin: 0.625rem 0.625rem -0.313rem 1.25rem;
    color: #3E3E3E;
    font-size: 1.125rem;
  }
  
  h3.sub-title {
    margin: 0.625rem 0.625rem -0.313rem 1.25rem;
    color: #3E3E3E;
    font-size: 1.125rem;
  }
  
  ion-card-subtitle{
    color: #3E3E3E;
    font-size: 0.813rem;
  }
  
  ion-card{
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
  }

  h5{
    color: #3E3E3E;
  }

  h5.titulo{
    font-weight: bolder;
  }

  h5.texto{
    font-size: 15px;
  }

  h5.data{
    font-size: 10px;
    font-style: oblique;
    //position: relative;
    //top: 10px;
  }

ion-card ion-item{
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
  }
ion-card ion-card-content{
  padding-top: 5px
}