<ion-content>

  <div class="title-bar">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="suporte()">
          <ion-icon slot="icon-only" name="information-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <h1 class="title">
    Campina Music
  </h1>

  <h3 class="sub-title">Histórico de <strong>notificações</strong>:</h3>

  <ion-card mode="ios">
    <ion-card-content>
      <h5 class="titulo">REVEILLON</h5>
      <h5 class="texto">Confira a programação!</h5>
      <h5 class="data">Data de notificação 23/10/2020</h5>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-content>
      <h5 class="titulo">EVENTO CANCELADO</h5>
      <h5 class="texto">São João de 2020 cancelado.</h5>
      <h5 class="data">Data de notificação 17/10/2020</h5>
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-content>
      <h5 class="titulo">FESTAS</h5>
      <h5 class="texto">Confira a programação desse final de semana!</h5>
      <h5 class="data">Data de notificação 15/10/2020</h5>
    </ion-card-content>
  </ion-card>

</ion-content>
