ion-button{
  --color: #3E3E3E;
}
.title-bar {
  margin: 0px 10px -10px 10px;
  color: #3E3E3E;
}

h1.title {
  margin: 10px 10px 10px 20px;
  color: #3E3E3E;
  font-size: 36px;
}

h2.sub-title {
  margin: 10px 10px -5px 20px;
  color: #3E3E3E;
  font-size: 18px;
}

div.slide{
  margin: 10px 0px;
}

h3.sub-title {
  margin: 10px 10px -5px 20px;
  color: #3E3E3E;
  font-size: 18px;
}

ion-card-subtitle{
  color: #3E3E3E;
  font-size: 12px;
}

ion-item{
  --border-color: #FFFFFF;
}

.item ion-thumbnail {
  min-width: 60px;    
  min-height: 70px;
  img {
      max-width: 70px;    
      min-height: 70px;
      border-radius: 20%;
  }
}

ion-item ion-label.info_cantor {
  margin: 10px 10px 10px 0px;
  color: #3E3E3E;
  font-size: 16px;
}

h3.cantor_nome {
  color: #3E3E3E;
  font-size: 24px;
}

ion-card{
  margin: 10px 20px 20px 20px;
}

h3.palco_nome {
  color: #3E3E3E;
  font-size: 18px;
}