h1 {
  margin: 10px 10px -5px 10px;
  color: #3E3E3E;
  font-size: 18px;
}

h2 {
  margin: 10px 10px 10px 10px;
  color: #3E3E3E;
  font-size: 18px;
}

h3 {
  color: #3E3E3E;
  font-size: 18px;
}

ion-card-subtitle{
  color: #3E3E3E;
  font-size: 12px;
}