<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">DIVULGAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-button color="warning" expand="block" (click)="agenda()">SÃO JOÃO - PP</ion-button>
  <br>

  <ion-card color="Light">
    <ion-img src="http://www.sedsoft.com.br/app/undefined.jpg"></ion-img>
  <ion-card-header>

    <ion-card-subtitle>
      <ion-icon name="pin-outline"></ion-icon>Rua Josefina Marcone, nº 108, Catolé<br>
      <ion-icon name="call-outline"></ion-icon>(83) 3322-6666 / <ion-icon name="logo-whatsapp"></ion-icon>(83) 9999-6666<br>
      <ion-icon name="time-outline"></ion-icon>8-12h / 14-18h
    </ion-card-subtitle>

      <ion-card-title>
        Nome do couver, shows ou título para algum evento
      </ion-card-title>

  </ion-card-header>
    <ion-card-content>Legenda opcional caso precise</ion-card-content>
  </ion-card>

  <br>

    <ion-card color="Light">
    <ion-img src="http://www.sedsoft.com.br/app/undefined.jpg"></ion-img>
  <ion-card-header>

    <ion-card-subtitle>
      <ion-icon name="pin-outline"></ion-icon>Rua Josefina Marcone, nº 108, Catolé<br>
      <ion-icon name="call-outline"></ion-icon>(83) 3322-6666 / <ion-icon name="logo-whatsapp"></ion-icon>(83) 9999-6666<br>
      <ion-icon name="time-outline"></ion-icon>8-12h / 14-18h
    </ion-card-subtitle>

      <ion-card-title>
        Nome do couver, shows ou título para algum evento
      </ion-card-title>

  </ion-card-header>
    <ion-card-content>Legenda opcional caso precise</ion-card-content>
  </ion-card>



  <ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
