<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large"><strong>Campina Music</strong></ion-title>
    <!--
    <ion-buttons slot="end">
      <ion-button (click)="suporte()">
        <ion-icon slot="icon-only" name="information-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content>
      
  <div *ngIf="cantores.length != 0">

    <h3 class="sub-title">Hoje tem <strong>show(s)</strong> em:</h3>

    <ion-slides [options]="sliderConfigShow" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
      <ion-slide *ngFor="let palco_id_array of palco_dia">

        <ion-card mode="ios" (click)="eventoDetalhado(palco_id_array)">

            <div *ngFor="let array_palco of palcos"> 
              <div *ngIf="array_palco.palco_id == palco_id_array">
                <img src="{{array_palco.palco_img}}">
              </div>    
            </div>

            <div *ngFor="let array_cantor of cantores">
              <div *ngIf="palco_id_array == array_cantor.palco_id">
                <ion-item lines="none">
                  <ion-thumbnail slot="start">
                    <img *ngIf="array_cantor.cantor_img != null" src="{{array_cantor.cantor_img}}">
                    <img *ngIf="array_cantor.cantor_img == null" src="../../../../assets/img/undefined.jpg"> 
                  </ion-thumbnail>

                  <ion-label class="info_cantor">
                    <strong>{{array_cantor.cantor_nome}}<br></strong>
        
                    <div *ngIf="array_cantor.evento_hora_ini != null">
                      Inícia ás <strong>{{array_cantor.evento_hora_ini}}</strong><br>
                    </div>
                  </ion-label>  
                </ion-item>
              </div>
            </div>

        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="palcos.length != 0">

    <div class="barra_consulta">
      <ion-searchbar  mode="ios" animated placeholder="Palco" [(ngModel)]="vlr_digitado" (ionChange)="buscar($event)"></ion-searchbar>
    </div>

    <h3 class="sub-title">Confira <strong>toda</strong> a programação:</h3>

    <div *ngIf="vlr_digitado == ''">

      <div *ngFor="let array_palcos of palcos">
        <ion-card mode="ios" class="ion-card-palco" (click)="eventoDetalhado(array_palcos.palco_id)">
          <img class="img_palco" src="{{array_palcos.palco_img}}">
  
          <ion-item class="palco_desc" lines="none">
            <ion-label class="palco_desc">
              <ion-icon name="pin-outline"></ion-icon> {{array_palcos.palco_nome}} <br> {{array_palcos.palco_cidade}}
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>

    <div *ngIf="vlr_digitado != ''">

      <div *ngIf="palcos_consulta.length == 0">
        <h1 class="title">
          Ops! Nada encontrado...
        </h1>
      </div>

      <div *ngFor="let array_palcos of palcos_consulta">
        <ion-card mode="ios" class="ion-card-palco" (click)="eventoDetalhado(array_palcos.palco_id)">
          <img class="img_palco" src="{{array_palcos.palco_img}}">
          
          <ion-item class="palco_desc" lines="none">
            <ion-label class="palco_desc">
              <ion-icon name="pin-outline"></ion-icon> {{array_palcos.palco_nome}} <br> {{array_palcos.palco_cidade}}
            </ion-label>     
          </ion-item>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
