<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505535459212-pb8apohdgel2acekqojfpvk14sjsun2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505535459212-pb8apohdgel2acekqojfpvk14sjsun2p</string>
	<key>API_KEY</key>
	<string>AIzaSyArU7Um-E0WNsNHh116L6FDYFBU10nAUPM</string>
	<key>GCM_SENDER_ID</key>
	<string>505535459212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.capinamusic</string>
	<key>PROJECT_ID</key>
	<string>campinamusic-65095</string>
	<key>STORAGE_BUCKET</key>
	<string>campinamusic-65095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505535459212:ios:9bac80b82afc710046f0a9</string>
	<key>DATABASE_URL</key>
	<string>https://campinamusic-65095.firebaseio.com</string>
</dict>
</plist>